:root{
    --main-color: #080808;
    --text-color: #ffffff;
    --btn-color-act: #ffffff;
    --btn-text-act: #080808;
    --text-grey: #AAAAAA;
    --btn-color-add: #493646;
    --btn-color-open: #57404a;
    --for-gradient: #000000ab;
    --btn_reaction-color:#262626;
}