@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-image: url("/anitype/img/bg.svg");
}

.content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 150px;
    gap: 50px;
}


.left_panel{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 10px;
}

.action{
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 25px 10px 25px;
    width: 302px;
    height: 40px;
    border: none;
    color: var(--text-color);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
}

.action.add{
    gap: 20px;
    background-color: var(--btn-color-add);
}

.action.open{
    gap: 20px;
    background-color: var(--btn-color-open);
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info_detail{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.estimation{
    color: var(--text-grey);
}

.name{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    font-size: 20px;
}

.line{
    display: flex;
    flex-direction: row;
    gap: 10px;
}


.new_episode{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 25px 20px 25px;
    font-family: Roboto;
    font-size: 13px;
    line-height: 15px;
    text-align: left;
    box-sizing: border-box;
    border: 0.5px solid var(--btn-color-act);
    border-radius: 10px;
}

.about{
    font-family: Roboto;
    font-size: 24px;
    line-height: 28px;
    text-align: left;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-family: Roboto;
    font-size: 13px;
    text-align: left;
    gap: 10px;
}

.name_row_temp{
    font-size: 13px;
    color: var(--text-grey);
    width: 150px;
}

.value{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}


