@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: var(--main-color);
    background-size: cover;
    padding: 0;
    font-family: Roboto;
    color: var(--text-color);
    font-weight: 250;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link__img{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 5px 6px 5px 6px;
}

.nav {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: row;
    justify-content: center-between;
    align-items: center;
    gap: 30px;
    padding: 8px 16px 8px 16px;
    border-radius: 30px;
    
}

.nav__item{
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
    color: var(--text-color);
}

.nav__btn{
    background-color: var(--btn-color-act);
    color: var(--btn-text-act);
    border-radius: 30px;
    padding: 8px 16px 8px 16px;

}

.btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--btn-color-act);
    color: var(--btn-text-act);
    border-radius: 30px;
    gap: 10px;
    padding: 10px 24px 10px 24px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    text-align: left;
    height: 19px;
}
